<!DOCTYPE html><html dir="ltr" lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>o-component-template component</title>
  <script async="" src="https://unpkg.com/@o-rango/orango-demo-tools/dist/orango-demo-tools.js"></script>
</head>
<body>
  <o-demo-bar name="Demo o-component-template" events="'oAlertLoad' ,'oAlertDestroyed'">
      <o-demo-case name="o-component-template">
        <template>
        <script src="/build/o-component-template.js"></script>
        <o-component-template>o-component-template !!!!</o-component-template>
        </template>
      </o-demo-case>
  </o-demo-bar>


</body></html>
