:host {
 /* Generic Colors variables*/
 --o-button-default: #FAFBFC;
 --o-button-error : #DE350B;
 --o-button-warning:#FFC400;
 --o-button-info:  #0065FF;
 --o-button-success:#36B37E;

 /* Size Style variables  & Font Style variables */
 --o-button-height : 3.5em;
 --o-button-font-size :14px;
 --o-button-font-weight : 400;
 --o-button-font-family : 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
 --o-button-font-color-light : #FFFFFF;
 --o-button-font-color-dark : #091E42;
}


button {
  display: inline-block;
  font-weight:var(--o-button-font-weight);
  text-align: center;
  touch-action: manipulation;
  background-image: none;
  font-family: var( --o-button-font-family);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 4px #999;
  padding: 0.6em 0.8em;
  outline: none;

  @each $type in 'default' 'error' 'warning' 'info' 'success' {
    &.solid-#{$type} {
      background: transparent;
      border: none;
      border-radius: 2px;
      padding: 0.6em 0.8em;
      color: white;
      background-color:var(--o-button-#{$type});
    }
    &.outline-#{$type} {
      background: transparent;
      font-size: 14px;
      border-radius: 2px;
      padding: 0.6em 0.8em;
      border-style: solid;
      color:var(--o-button-#{$type});
      border-color:var(--o-button-#{$type});
    }
    &.dashed-#{$type} {
      background: transparent;
      font-size: 14px;
      border-radius: 2px;
      padding: 0.6em 0.8em;
      border-style: dashed;
      color:var(--o-button-#{$type});
      border-color:var(--o-button-#{$type});
    }
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
    opacity: 0.7;
  }
}

.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: #47a7f5
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: #47a7f5
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
button {
  font-family: var( --o-button-font-family);
  border: none;
  border-radius: 5px;
  padding: 0.6em 0.8em;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}

*/
