:host {
 /* Generic Colors variables*/
 --o-alert-default: #FAFBFC;
 --o-alert-error : #DE350B;
 --o-alert-warning:#FFC400;
 --o-alert-info:  #0065FF;
 --o-alert-success:#36B37E;

 /* Size Style variables  & Font Style variables */
 --o-alert-height : 3.5em;
 --o-alert-font-size :14px;
 --o-alert-font-weight : 600;
 --o-alert-font-family : 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
 --o-alert-font-color-light : #FFFFFF;
 --o-alert-font-color-dark : #091E42;
}

::slotted([slot=start]) {
  order: 0;
  position: absolute;
  left: 1em;

}
::slotted([slot=end]) {
  order: 3;
  position: absolute;
  right: 1em;
}

.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1em 0 1em;
}

.o-alert {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  width: 100%;
  height: var(--o-alert-height);
  box-shadow: rgba(67, 90, 111, 0.135) 0px 0px 0px 1px inset;
  font-weight: var(--o-alert-font-weight);
  font-family: var( --o-alert-font-family);
  font-size: var( --o-alert-font-size);
  transition: color 0.25s ease-in-out 0s;
  text-align: center;
  background-color:  var(--o-alert-default);

  .o-alert-align-center{
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  .o-alert-align-left{
    justify-content:flex-start;
    text-align: left;
  }
}

.o-alert-text-light {
  color : var(--o-alert-font-color-light);
}
.o-alert-text-dark {
  color : var(--o-alert-font-color-dark);
}

@each $type in 'default' 'error' 'warning' 'info' 'success' {
  .o-alert-line-#{$type}:before {
    content: "";
    width: 0.3em;
    height: var(--o-alert-height);
    position: relative;
    top: 0;
    left: 0;
    background-color:  var(--o-alert-#{$type});
  }
  .o-alert-#{$type} {
    background-color:  var(--o-alert-#{$type});
  }
}


