<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>o-alert component</title>
  <script async src="https://unpkg.com/@o-rango/orango-demo-tools/dist/orango-demo-tools.js"></script>

</head>
<body>
  <o-demo-bar name="Demo o-alert">
      <o-demo-case name="Simple">
        <template>
        <script async="" src="/build/o-alert.js"></script>


        <o-alert align="center" type="default">llo WorldHello WorldHello WorldHello World</o-alert>
        <o-alert align="left" type="success">Hello World Left</o-alert>
        <o-alert type="info">Hello World</o-alert>
        <o-alert type="warning">Hello World</o-alert>
        <o-alert type="error" align="center"> Hello World <div slot="start"> Start</div><div slot="end">End</div> </o-alert>

        </template>
      </o-demo-case>

      <o-demo-case name="Dismiss">
        <template>
        <script async="" src="/build/o-alert.js"></script>
        <o-alert></o-alert>
        </template>
    </o-demo-case>
  </o-demo-bar>
</body>
</html>
